{% extends '@TDTSite/layout.html.twig' %}

{% block html_head_links %}
    <link href="{{ asset('assets/bootstrap/2.3.2/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/bootstrap/2.3.2/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/screen.css') }}" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
{% endblock html_head_links %}

{% block body %}

    <div id="mst_page" class="container">
        <div class="row">
            <div id="header" class="span12">
                <div id="logo"></div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <div class="navbar navbar-static-top navbar-inverse">
                    <div id="mainmenu" class="navbar-inner top-menu">
                        {{ knp_menu_render('TDTSiteBundle:SiteMenu:main', {
                        'currentClass': 'active',
                        'clear_matcher': false,
                        }) }}

                        <ul class="nav pull-right">
                            {% if is_granted('ROLE_USER') %}
                                <li class="divider-vertical"></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user icon-white"></i>
                                        &nbsp;{{ app.user.username }} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('fos_user_profile_show') }}"><i class="icon-cog"></i> Мой профиль</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off"></i> Выход</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{{ path('fos_user_registration_register') }}">Зарегистрироваться</a></li>
                                <li class="dropdown">
                                    <a id="login-dropdown" class="dropdown-toggle" href="#" data-toggle="dropdown">Войти <strong class="caret"></strong></a>
                                    <div class="dropdown-menu" style="padding: 16px; padding-bottom: 0px;">

                                        {{ render(controller('TDTUserBundle:Security:headerLogin')) }}

                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
         </div>

        <div class="row">
            <div class="span12">
                <div class="breadcrumb">
                    <a href="{{ path("tdt_site_index") }}">Главная</a>
                </div>
            </div>
        </div>

        <div class="row">
            {% block sidebar %}
                <div id="sidebar" class="span3">
                    <div class="portlet">
                        <div class="portlet-decoration">
                            <div class="portlet-title">Рубрики блога</div>
                        </div>
                        <div class="portlet-content">
                           {{ knp_menu_render('SmartBlogBundle:Category:tree', {
                            'currentClass': 'active',
                            'template': 'TDTSiteBundle:Menu:category.html.twig',
                            }) }}
                        </div>

                        <div class="portlet-decoration">
                            <div class="portlet-title">Ближайшие задачи в разработке:</div>
                        </div>
                        <div class="portlet-content">
                            <ul class="nav nav-tabs nav-stacked">
                                <li><a href="#">Разработка &laquo;Бандла&raquo; для распределённого хранения файлов.</a></li>
                                <li><a href="{{ path("tdt_site_contacts") }}">Форма обратной связи.</a></li>
                                <li><a href="#">Возможность управлять тэгами и категориями блога админу сайта.</a></li>
                                <li><a href="#">Фабрики для форм блога.</a></li>
                            </ul>
                        </div>

                        <div class="portlet-decoration">
                            <div class="portlet-title">Тэги блога:</div>
                        </div>

                        <div class="portlet-content">
                            {{ render(controller('SmartBlogBundle:Tag:cloud')) }}

                        </div>

                    </div>
                    {#                   {{ render(controller('SmartBlogBundle:Widget:showCategoryList', { 'id_action': null })) }} #}
                </div>
            {% endblock sidebar %}

            <div class="span9">
                <div id="mst_content">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <div id="footer"> © 2013 TimeDevTeam. Все права защищены. </div>
            </div>
        </div>
    </div>
{% endblock body %}
