{% extends 'SmartBlogBundle::layout.html.twig' %}

{% block html_head_title %}
    {{ parent() }}
    {% if pagerfanta.currentPage > 1%}(Страница: {{ pagerfanta.currentPage }}){% endif %}
{% endblock html_head_title %}

{% block smart_blog_content %}

    {% block smart_blog_content_articles %}
        {% for article in pagerfanta.currentPageResults %}
            <h2><a href="{{ path('smart_blog_article', {'slug': article.slug}) }}">{{ article.title }}</a></h2>

            <p>
                <i class="icon-calendar"></i> {{ article.createdAt | localizeddate('full') }}
                , написал <i class="icon-user"></i> <a href="#">{{ article.author }}</a>
            </p>

            <p>{{ article.annotation }}</p>

            {% if article.tags|length %}
                {{ 'Tags'|trans }}:
                {% for tag in article.tags %}
                    <a href="{{ path('smart_blog_tag', {'slug': tag.slug}) }}"><span class="label label-info">{{ tag }}</span></a>
                {% endfor %}
            {% endif %}

            {% if article.category %}
                {{ 'Category'|trans }}:
                <a href="{{ path('smart_blog_category', {'slug': article.category.slugFull}) }}"><span class="label label-success">{{ article.category }}</span></a>
            {% endif %}

            <hr/>
        {% endfor %}
    {% endblock smart_blog_content_articles %}

    {% block smart_blog_articles_paginator %}
        {% if pagerfanta.haveToPaginate %}
            {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', {
                    'routeName': 'smart_blog_page',
                    'css_container_class': 'pagination pagination-centered',
                })
            }}
        {% endif %}
    {% endblock smart_blog_articles_paginator %}

{% endblock smart_blog_content %}
