{% extends 'SmartBlogBundle:Admin:layout.html.twig' %}

{% block smart_blog_content %}
    <a href="{{ path('smart_blog_admin_tag_create') }}" class="btn">Добавить тег</a>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Заголовок</th>
                <th>Slug</th>
                <th>Вес</th>
                <th>Дата создания</th>
            </tr>
            </thead>
            <tbody>
            {% for data in tags %}
                <tr>
                    <td>{{ data.tag.id }}</td>
                    <td>
                        <a href="{{ path('smart_blog_admin_tag_edit', {'id': data.tag.id}) }}" title="Редактировать">
                            {{ data.tag.title }}
                        </a>
                    </td>
                    <td>{{ data.tag.slug }}</td>
                    <td>{{ data.weight }}</td>
                    <td>{{ data.tag.createdAt | localizeddate() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% block smart_blog_tags_paginator %}
            {% if pagerfanta.haveToPaginate %}
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', {
                'routeName': 'smart_blog_admin_tag',
                'css_container_class': 'pagination pagination-centered',
                })
                }}
            {% endif %}
        {% endblock smart_blog_tags_paginator %}

{% endblock smart_blog_content %}
