{% extends 'TDTNewsBundle:Admin:layout.html.twig' %}

{% block smart_blog_content %}

    {% block smart_blog_content_articles %}

        <p><a href="{{ path('tdt_news_admin_create') }}" class="btn btn-success">Добавить новость</a></p>

        <p>Всего новостей: {{ pagerfanta.count }}</p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Заголовок</th>
                    <th>Аннотация</th>
                    <th>Дата создания</th>
                </tr>
            </thead>
            <tbody>
            {% for article in pagerfanta.currentPageResults %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>
                        <a href="{{ path('tdt_news_admin_edit', {'id': article.id}) }}" title="Редактировать">
                            {{ article.title }}
                        </a>
                    </td>
                    <td>{{ article.annotation }}</td>
                    <td>{{ article.createdAt | localizeddate() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock smart_blog_content_articles %}

    {% block smart_blog_articles_paginator %}
        {% if pagerfanta.haveToPaginate %}
            {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', {
                    'routeName': 'tdt_news_admin_index',
                    'css_container_class': 'pagination pagination-centered',
                })
            }}
        {% endif %}
    {% endblock smart_blog_articles_paginator %}

{% endblock smart_blog_content %}
